form.text-center(action="/g" method="GET")
  .flexbox.align-middle.group
    label(for="paragraphs") Number of Paragraphs
    input.input.text-input.text-center(type="text" name="paragraphs" placeholder="5" autofocus="autofocus")
  input.input.btn.primary-btn(type="submit" value="Give me text, Baka!")
