head
  meta(charset="UTF-8")
  title= pageTitle
  meta(name="theme-color" content="#9c8dec")
  meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
  meta(name="description" content="A Lorem Ipsum generator for anime fans, baka!")
  meta(name="twitter:card" content="summary" )
  meta(name="twitter:creator" content="@elguey77")
  meta(name="twitter:title" content="Baka Ipsum" )
  meta(name="twitter:description" content="A Lorem Ipsum generator for anime fans, baka!" )
  meta(name="twitter:image" content="http://i.imgur.com/qSm22xJ.jpg" )
  meta(property="og:title" content="Baka Ipsum" )
  meta(property="og:description" content="A Lorem Ipsum generator for anime fans, baka!" )
  meta(property="og:image" content="http://i.imgur.com/qSm22xJ.jpg" )
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css')
  link(rel='stylesheet', href='/css/style.css')
