.nav-container
  nav.nav.small-container(role="navigation")
    a(href="about" title="About" alt="About") About
    a(href="https://github.com/arturoalviar/baka-ipsum" title="Baka Ipsum Repo" alt="Baka Ipsum Repo") Github
