extends layout

block content
  .small-container
    h1.text-center About
    p Lorem Ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation. Replacing meaningful content with placeholder text allows viewers to focus on graphic aspects such as font, typography, and page layout without being distracted by the content.
    p Baka Ipsum is a Lorem Ipsum generator for anime fans. It uses common words that appear in your typical rom-com anime.
    
  
