$mobile = 40em
$black = #444444
$textColor = #696969
$headingColor = $black
$spacing-unit = 1em
$main-color = #c4baf0

::-moz-selection
  background: $main-color
  color: #FFFFFF
::selection
  background: $main-color
  color: #FFFFFF

//base
html
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  margin: 0
  padding: 0
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  margin: 0
  padding: 0

img
  border: 0

h1,h2,h3,p
  margin: 0
  padding: 0

h1,h2,h3
  color: $headingColor

h1
  font-size: 2.4em
  line-height: 1
  margin-bottom: .65em
h2
  font-size: 1.6rem

button,
input,
optgroup,
select,
textarea
  color: inherit
  font: inherit
  margin: 0

button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
  -webkit-appearance: button
  cursor: pointer

button::-moz-focus-inner,
input::-moz-focus-inner
  border: 0
  padding: 0

input[type="search"]
  -webkit-appearance: textfield

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none

//main style
body
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: 'Source Sans Pro', "Helvetica Neue", sans-serif
  font-size: 100%
  color: $textColor
  line-height: 1.5
a
  color: $main-color
  text-decoration: none
  transition: opacity .3s ease-in-out
  &:hover
    opacity: .7
img
  display: block
  margin: 0 auto
  max-width: 100%
  width: 100%

//layout, type
.flexbox
  display: flex
  flex-flow: row nowrap

.align-middle
  align-items: center

.small-container
  max-width: $mobile
  margin: 0 auto
  padding: 0 $spacing-unit

.text-center
  text-align: center

p
  font-size: 1.125rem
  margin-bottom: $spacing-unit * 1.5

//banner
.banner
  position: relative
  background: $main-color url(../images/baka.gif) 50% 75% no-repeat
  background-size: cover
  z-index: 1
  &:after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    opacity: .35
    background: url(../images/subtle_dot.png) top left repeat
    z-index: -1

.banner-content
  padding: ($spacing-unit*7) $spacing-unit

.heading
  display: inline-block
  padding: $spacing-unit*3 0
  a
    color: #ffffff
  h1
    color: $main-color
    font-size: 2.4em
    margin: 0

  @media all and (min-width: 40em)
    h1
      font-size: 5vw

//footer
.footer
  padding: $spacing-unit*3

//navigation
.nav-container
  background: $main-color
  padding: $spacing-unit*1.5 0
  margin-bottom: $spacing-unit * 1.5
  .nav
    a
      padding: $spacing-unit * .75
      font-weight: 600
      color: #ffffff
      &:first-of-type
        padding-left: 0

//form
.input, label
  display: block
  margin: auto

label
  font-size: 1.125rem

.group
  margin-bottom: $spacing-unit * 1.5

.btn
  outline: 0
  border: none
  padding: $spacing-unit * .75
  border-radius: .15rem
  font-weight: 600
  transition: background .3s ease-in-out

.primary-btn
  background: $main-color
  color: #ffffff
  &:hover,
  &:focus
    background: darken($main-color, 15%)

.text-input
  padding: $spacing-unit * .75
  border: 1px solid $main-color
  transition: border .3s ease-in-out
  &:focus
    outline: 0
    border: 1px solid darken($main-color, 15%)
